## Part II: Getting a Real Dataset

### Dataset Name: Cancer rate before and after Chernobyl

### Dataset source address (URL)
+ https://www.kaggle.com/datasets/marshuu/cancer-rate-before-and-after-chernobyl

### Description of the CSV dataset you download (one paragraph)
+ The dataset contains the data from a scientific article of a magazine "Radiation and risk". It has year, sex , location, cases and cancer_type to describe the dataset. They published data is collected and provided by the Byelorussian center of Medical Technologies. 2 groups of cases are: cases before the accident during 1977 - 1985 and after the accident during the period 1986 till 1994 respectively. The dataset is from the cities of Gomel, Mogilev and whole of Belarus taken as an average .The cases are provided per 100.000 population.

### Display all fields information (column name with short description per line)
+ year -  includes 1985 and 1986, which refers to the 2 periods: 1977 - 1985 and 1986 - 1994 respectively.
+ sex - includes women and men
+ location - Mogilev, Gomel (these are most affected cities of Belarus by radiation) and average numbers for Belarus.
+ cases - Number of cases per 100.000 population
+ cancer_type -  Cancer types

### Reading CSV File

#### Read with dictionary

In [1]:
import csv

with open('cancer_before_and_after_Chernobyl_Belarus.csv', mode='r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    print (csv_reader)
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        print(f'\t In {row["year"]} {row["sex"]} born in {row["location"]} had {row["cancer_type"]} cancer with {row["cases"]} cases.')
        line_count += 1
    print(f'Processed {line_count} lines.')

<csv.DictReader object at 0x7fd8172b2250>
Column names are year, sex, location, cancer_type, cases
	 In 1985 women born in Gomel had skin cancer with 17.3 cases.
	 In 1985 women born in Mogilev had skin cancer with 16.8 cases.
	 In 1986 women born in Gomel had skin cancer with 15.6 cases.
	 In 1986 women born in Mogilev had skin cancer with 18.3 cases.
	 In 1985 women born in Belarus had skin cancer with 14.9 cases.
	 In 1986 women born in Belarus had skin cancer with 16.5 cases.
	 In 1985 men born in Gomel had skin cancer with 19.9 cases.
	 In 1985 men born in Mogilev had skin cancer with 20.5 cases.
	 In 1986 men born in Gomel had skin cancer with 20.1 cases.
	 In 1986 men born in Mogilev had skin cancer with 22.4 cases.
	 In 1985 men born in Belarus had skin cancer with 17.2 cases.
	 In 1986 men born in Belarus had skin cancer with 20.3 cases.
	 In 1985 women born in Gomel had thyroid cancer with 1.6 cases.
	 In 1985 women born in Mogilev had thyroid cancer with 1.3 cases.
	 In 1986 women born in Gomel had thyroid cancer with 6.8 cases.
	 In 1986 women born in Mogilev had thyroid cancer with 3.5 cases.
	 In 1985 women born in Belarus had thyroid cancer with 1.5 cases.
	 In 1986 women born in Belarus had thyroid cancer with 4.5 cases.
	 In 1985 men born in Gomel had thyroid cancer with 0.7 cases.
	 In 1985 men born in Mogilev had thyroid cancer with 0.5 cases.
	 In 1986 men born in Gomel had thyroid cancer with 2.5 cases.
	 In 1986 men born in Mogilev had thyroid cancer with 1.1 cases.
	 In 1985 men born in Belarus had thyroid cancer with 0.8 cases.
	 In 1986 men born in Belarus had thyroid cancer with 1.4 cases.
	 In 1985 women born in Gomel had lungs cancer with 3.3 cases.
	 In 1985 women born in Mogilev had lungs cancer with 4.9 cases.
	 In 1986 women born in Gomel had lungs cancer with 4.8 cases.
	 In 1986 women born in Mogilev had lungs cancer with 5.6 cases.
	 In 1985 women born in Belarus had lungs cancer with 4.7 cases.
	 In 1986 women born in Belarus had lungs cancer with 5.7 cases.
	 In 1985 men born in Gomel had lungs cancer with 38.1 cases.
	 In 1985 men born in Mogilev had lungs cancer with 51.6 cases.
	 In 1986 men born in Gomel had lungs cancer with 59.3 cases.
	 In 1986 men born in Mogilev had lungs cancer with 73.1 cases.
	 In 1985 men born in Belarus had lungs cancer with 44.1 cases.
	 In 1986 men born in Belarus had lungs cancer with 65.9 cases.
	 In 1985 women born in Gomel had pancreas cancer with 2.8 cases.
	 In 1985 women born in Mogilev had pancreas cancer with 3.1 cases.
	 In 1986 women born in Gomel had pancreas cancer with 3.9 cases.
	 In 1986 women born in Mogilev had pancreas cancer with 3.6 cases.
	 In 1985 women born in Belarus had pancreas cancer with 2.5 cases.
	 In 1986 women born in Belarus had pancreas cancer with 3.5 cases.
	 In 1985 men born in Gomel had pancreas cancer with 6 cases.
	 In 1985 men born in Mogilev had pancreas cancer with 8.4 cases.
	 In 1986 men born in Gomel had pancreas cancer with 8.7 cases.
	 In 1986 men born in Mogilev had pancreas cancer with 8.7 cases.
	 In 1985 men born in Belarus had pancreas cancer with 5.2 cases.
	 In 1986 men born in Belarus had pancreas cancer with 8 cases.
	 In 1985 women born in Gomel had colon cancer with 3.9 cases.
	 In 1985 women born in Mogilev had colon cancer with 5.4 cases.
	 In 1986 women born in Gomel had colon cancer with 6.2 cases.
	 In 1986 women born in Mogilev had colon cancer with 7.5 cases.
	 In 1985 women born in Belarus had colon cancer with 4.8 cases.
	 In 1986 women born in Belarus had colon cancer with 7.3 cases.
	 In 1985 men born in Gomel had colon cancer with 5.4 cases.
	 In 1985 men born in Mogilev had colon cancer with 6.8 cases.
	 In 1986 men born in Gomel had colon cancer with 8.1 cases.
	 In 1986 men born in Mogilev had colon cancer with 10.2 cases.
	 In 1985 men born in Belarus had colon cancer with 6.1 cases.
	 In 1986 men born in Belarus had colon cancer with 9.4 cases.
	 In 1985 women born in Gomel had rectum cancer with 5.8 cases.
	 In 1985 women born in Mogilev had rectum cancer with 6.6 cases.
	 In 1986 women born in Gomel had rectum cancer with 7.5 cases.
	 In 1986 women born in Mogilev had rectum cancer with 7.6 cases.
	 In 1985 women born in Belarus had rectum cancer with 6.4 cases.
	 In 1986 women born in Belarus had rectum cancer with 8 cases.
	 In 1985 men born in Gomel had rectum cancer with 7.3 cases.
	 In 1985 men born in Mogilev had rectum cancer with 8 cases.
	 In 1986 men born in Gomel had rectum cancer with 10.5 cases.
	 In 1986 men born in Mogilev had rectum cancer with 12.7 cases.
	 In 1985 men born in Belarus had rectum cancer with 8.1 cases.
	 In 1986 men born in Belarus had rectum cancer with 11.8 cases.
	 In 1985 women born in Gomel had kidney cancer with 1.5 cases.
	 In 1985 women born in Mogilev had kidney cancer with 1.9 cases.
	 In 1986 women born in Gomel had kidney cancer with 3 cases.
	 In 1986 women born in Mogilev had kidney cancer with 3.1 cases.
	 In 1985 women born in Belarus had kidney cancer with 1.7 cases.
	 In 1986 women born in Belarus had kidney cancer with 3.7 cases.
	 In 1985 men born in Gomel had kidney cancer with 2.8 cases.
	 In 1985 men born in Mogilev had kidney cancer with 3.1 cases.
	 In 1986 men born in Gomel had kidney cancer with 6.3 cases.
	 In 1986 men born in Mogilev had kidney cancer with 6.8 cases.
	 In 1985 men born in Belarus had kidney cancer with 3.5 cases.
	 In 1986 men born in Belarus had kidney cancer with 7.5 cases.
Processed 85 lines.

#### Reading CSV Files with Pandas
+ We import pandas 
+ We use read.csv to read the file

In [2]:
# reading the data from csv file
import pandas as pd

df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
print(df)

    year    sex location cancer_type  cases
0   1985  women    Gomel        skin   17.3
1   1985  women  Mogilev        skin   16.8
2   1986  women    Gomel        skin   15.6
3   1986  women  Mogilev        skin   18.3
4   1985  women  Belarus        skin   14.9
..   ...    ...      ...         ...    ...
79  1985    men  Mogilev      kidney    3.1
80  1986    men    Gomel      kidney    6.3
81  1986    men  Mogilev      kidney    6.8
82  1985    men  Belarus      kidney    3.5
83  1986    men  Belarus      kidney    7.5

[84 rows x 5 columns]

### Implement 5 operations from the sources below (but not limited to) (feel free to use any exciting extra sources you can find)
#### For each operation: use markdown to answer below three items
+ describe what your question is about (what do you want to know/search/learn from the dataset)
+ discuss what this operation does (explain Python code instructions)
+ interpret the results from this operation

### 1.Retrieving Labels and Data
+ Below we are trying to retrieve the rows and columns. 
+ 'index' gives the rows labels. 'columns' gives us the columns labels in dataframe
+ we can retrieve and print particular columns by referencing them with the number

In [3]:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
print(df.index)
print(df.columns)
# print name of second column 
print(df.columns[1])

RangeIndex(start=0, stop=84, step=1)
Index(['year', 'sex', 'location', 'cancer_type', 'cases'], dtype='object')
sex

+ we use import numpy
+ In below example, we use numpy.arange() to generate a new sequence of row labels that holds the new set of integers. We start from 100 and can go till end of dataframe(here 84 rows so 184). This can be helpful when we want to change the numbering for a particular section of data

In [4]:
import numpy as np
# updating the numbering from row labels
df.index = np.arange(100, 184)
print (df)

     year    sex location cancer_type  cases
100  1985  women    Gomel        skin   17.3
101  1985  women  Mogilev        skin   16.8
102  1986  women    Gomel        skin   15.6
103  1986  women  Mogilev        skin   18.3
104  1985  women  Belarus        skin   14.9
..    ...    ...      ...         ...    ...
179  1985    men  Mogilev      kidney    3.1
180  1986    men    Gomel      kidney    6.3
181  1986    men  Mogilev      kidney    6.8
182  1985    men  Belarus      kidney    3.5
183  1986    men  Belarus      kidney    7.5

[84 rows x 5 columns]

+ Below we are trying to extract the data of a particular column(cancer_type) and store it in a variable which could be used later as required

In [5]:
cancer_types = df['cancer_type']
cancer_types

100      skin
101      skin
102      skin
103      skin
104      skin
        ...
179    kidney
180    kidney
181    kidney
182    kidney
183    kidney
Name: cancer_type, Length: 84, dtype: object

### 2.Show statistics
+ For getting statistical results from a dataframe we can use describe() method. Here the year and cases are the numeric columns on which the method is operated.
+ This will be useful while we try to do some data analysis

In [6]:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
# describe() shows a quick statistic summary of your data
df.describe()

              year      cases
count    84.000000  84.000000
mean   1985.500000  10.688095
std       0.503003  13.924031
min    1985.000000   0.500000
25%    1985.000000   3.500000
50%    1985.500000   6.350000
75%    1986.000000  10.275000
max    1986.000000  73.100000

### 3.Sorting

+ We can sort by index or column 
+  rows (axis=0) or columns (axis=1)
+ Here we are sorting based on column( difference in output is that positions of columns 'cases' and 'cancer_type' are interchanged based on desceding order of the alphabets)

In [7]:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
df.sort_index(axis=1, ascending=False)

    year    sex location  cases cancer_type
0   1985  women    Gomel   17.3        skin
1   1985  women  Mogilev   16.8        skin
2   1986  women    Gomel   15.6        skin
3   1986  women  Mogilev   18.3        skin
4   1985  women  Belarus   14.9        skin
..   ...    ...      ...    ...         ...
79  1985    men  Mogilev    3.1      kidney
80  1986    men    Gomel    6.3      kidney
81  1986    men  Mogilev    6.8      kidney
82  1985    men  Belarus    3.5      kidney
83  1986    men  Belarus    7.5      kidney

[84 rows x 5 columns]

+ Sorting by a column of choice is done by using sort_values()
+ We are trying to sort by decreasing number of cases here

In [8]:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
df.sort_values(by='cases', ascending=False)

    year    sex location cancer_type  cases
33  1986    men  Mogilev       lungs   73.1
35  1986    men  Belarus       lungs   65.9
32  1986    men    Gomel       lungs   59.3
31  1985    men  Mogilev       lungs   51.6
34  1985    men  Belarus       lungs   44.1
..   ...    ...      ...         ...    ...
13  1985  women  Mogilev     thyroid    1.3
21  1986    men  Mogilev     thyroid    1.1
22  1985    men  Belarus     thyroid    0.8
18  1985    men    Gomel     thyroid    0.7
19  1985    men  Mogilev     thyroid    0.5

[84 rows x 5 columns]

### 4.Slicing data with accessors

+ We can retrieve data based on needs by giving the indexes with slicing technique
+ Below we aim to get the data from 4th row and 5th(3:5) row and first two columns(0:2)

In [9]:
# we retreive 4th row and 5th row and first two columns 
df.iloc[3:5, 0:2]

   year    sex
3  1986  women
4  1985  women

### 5.Grouping data and summing by grouped data
+ We can group the data based on needed columns to get results
+ Here, we are grouping by year 1985 and 1986, and summing up the cases
+ These kind of operation is useful if we want any summation of a numeric column based on a particular group

In [10]:
# Grouping and then applying the sum() function to the resulting groups:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
df.groupby("year")[["cases"]].sum()

      cases
year
1985  376.8
1986  521.0

### 6.Filtering

+ In this case, df['cases'] >= 30 returns True for those rows in which the cases is greater than or equal to 30. It returns False for the rows where cases is less than 30
+ From Series filter_ gives the records filled with Boolean data as per filter provided.
+ The expression df[filter_] returns a Pandas DataFrame with the rows from df that correspond to True in filter_

In [11]:

filter_ = df['cases'] >= 30
print(filter_)

0     False
1     False
2     False
3     False
4     False
      ...
79    False
80    False
81    False
82    False
83    False
Name: cases, Length: 84, dtype: bool

In [12]:
df[filter_]

    year  sex location cancer_type  cases
30  1985  men    Gomel       lungs   38.1
31  1985  men  Mogilev       lungs   51.6
32  1986  men    Gomel       lungs   59.3
33  1986  men  Mogilev       lungs   73.1
34  1985  men  Belarus       lungs   44.1
35  1986  men  Belarus       lungs   65.9

### 7.Inserting data
+ Sometimes there might be a need to add  a new row of data. We need to create a new series object for that.The new object has labels that correspond to the column labels from df and hence we write index=df.columns.
+ Then we need to append that data to the dataframe as a new row, which is added to last 84th row

In [13]:
df = pd.read_csv('cancer_before_and_after_Chernobyl_Belarus.csv')
new = pd.Series(data=['1986', 'men', 'Gomel', 'skin', '7.5'],
                  index=df.columns, name=84)
new

year            1986
sex              men
location       Gomel
cancer_type     skin
cases            7.5
Name: 84, dtype: object

In [14]:
df = df.append(new)
df

/var/folders/80/ghdt2w012_x2yg018vx45m300000gn/T/ipykernel_17299/333496748.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new)

    year    sex location cancer_type cases
0   1985  women    Gomel        skin  17.3
1   1985  women  Mogilev        skin  16.8
2   1986  women    Gomel        skin  15.6
3   1986  women  Mogilev        skin  18.3
4   1985  women  Belarus        skin  14.9
..   ...    ...      ...         ...   ...
80  1986    men    Gomel      kidney   6.3
81  1986    men  Mogilev      kidney   6.8
82  1985    men  Belarus      kidney   3.5
83  1986    men  Belarus      kidney   7.5
84  1986    men    Gomel        skin   7.5

[85 rows x 5 columns]